* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 80vh;
    background-image: linear-gradient(#d8c7ff, #19006c);
    /* background-image: url("/background.jpg"); */
    font-family: "poppins";
  }
  